CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

bin/
obj/

.vs/
.vscode/
build/
Testing/
Tests/
Debug/
*/CMakeLists.txt
install.ps1


